<div class="jumbotron">

    <div id="container">

    
    <h1>Stadium Runner</h1>
    
    <h2>We get the food so you don’t miss a play</h2>

    <div class="stadium_selector">
        <%= form_tag(controller: 'storefront', action: 'all_vendors', method: "get") do %>
            <% stadia_array = @stadia.map { |stadium| [stadium.name, stadium.id] } %>
            <%= select_tag(:stadium_id, options_for_select(stadia_array), :class => "form-control") %>
            <%= submit_tag("Go", :class => "btn btn-default")  %>
        <% end %>
    </div>


  <form class="location" action="#">


    
    <input class="section" type="text" name="address" placeholder="Section">

    <input class="row" type="text" name="address" placeholder="Row">

    <input class="seat" type="text" name="address" placeholder="Seat">


  </form>

  </div>

  </div>

