 <div id="nav-container">
      <div id="nav-home" class="nav-links">
          <h3><%= link_to 'Home', root_path %></h3>
      </div>

      <div id="nav-login" class="nav-links" style="inline-block">
        <% if current_user %>
          <h3><%= link_to 'Log Out', edit_user_registration_path %></h3>
          
        <% else %>
          <h3><%= link_to "Login", new_user_session_path %></h3>
        <% end %>        
      </div>

 </div>

